
body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;

	background: #ffbf00;
	color: #2d2d2d;
	text-align: center;
	font-family: sans-serif;
}

.header {
	font-family: monospace;
}

.header a {
	display: inline-block;
	padding: 0.5em;

	background: #2d2d2d;
	color: #ffbf00;
	text-decoration: none;

	transition: font-size 0.1s;
}

.header a:hover {
	font-size: 1.2em;
	text-decoration: underline;
}

.linkbar {
	position: relative;
	height: 2em;

	font-size: 1.2em;
}

h1 {
	font-size: 3em;
}

.linkbar span {
/*	font-family: sans-serif;*/
/*	font-style: italic;*/
}

.marklets {
	padding: 1em;
	margin: 1em;

	background: #f9f9f9;
}
