
body {
	background: #ffae42;
	color: #2d2d2d;
	text-align: center;
	font-family: sans-serif;
}

.header {
	font-family: monospace;
}

.header a {
	display: inline-block;
	padding: 0.5em;

	background: #2d2d2d;
	color: #ffae42;
	text-decoration: none;

	transition: font-size 0.1s;
}

.header a:hover {
	font-size: 1.2em;
	text-decoration: underline;
}

.linkbar {
	position: relative;
	height: 2em;

	font-size: 1.2em;
}

h1 {
	font-size: 3em;
}

.content {
	padding: 1em;
	margin: 2em inherit;

	background: #f9f9f9;
	box-shadow: 0.25em 0.25em 0.1em 0 #2d2d2d;
	border: 0.1em solid #2d2d2d;
}

#marklets a {
	padding: 0.5em;
	margin: 0.5em;

	background: teal;
	color: #f9f9f9;
}

#marklets p {
	padding: 0.25em inherit;
}

#marklets {
	text-align: right;
}

.instructions {
	text-align: left;
}

.instructions li {
	font-weight: bold;
}

.inline {
	display: inline-block;
}

#filedrag {
	padding: 1em;
	border-radius: 1em;

	background: #ececec;
	box-shadow: inset 0 0 0.4em 0.2em #2d2d2d;

	transition: box-shadow 0.25s;
}

.good {
	box-shadow: inset 0 0 0.4em 0.2em teal !important;
}

.bad {
	box-shadow: inset 0 0 0.4em 0.2em maroon !important;
}

#fileinfo {
	margin: 4em;

	font-family: monospace;
}

#filepicker {
	position: fixed;
	width: 0;
	height: 0;
	z-index: -1;
}

#filedrag div {
	display: inline-block;
}

#filebutton {
	padding: 0.5em;
	border-radius: 0.5em;

	cursor: pointer;
	color: teal;
	border: 0.1em solid teal;
}

#filebutton:hover {
	text-decoration: underline;
}

#marklets a:hover {
	box-shadow: 0.1em 0.1em 0.1em 0 #2d2d2d;
}

#custom_marklet {
	padding: 0.5em;
	margin: 0.5em;

	background: teal;
	color: #f9f9f9;
}

#custom_marklet:hover {
	box-shadow: 0.1em 0.1em 0.1em 0 #2d2d2d;
}

#custom_label {
	margin: 1em;
}
