
body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;

	background: #ffbf00;
	color: #2d2d2d;
	text-align: center;
	font-family: sans-serif;
}

.header {
	font-family: monospace;
}

.header a {
	display: inline-block;
	padding: 0.5em;

	background: #2d2d2d;
	color: #ffbf00;
	text-decoration: none;

	transition: font-size 0.1s;
}

.header a:hover {
	font-size: 1.2em;
	text-decoration: underline;
}

.linkbar {
	position: relative;
	height: 2em;

	font-size: 1.2em;
}

h1 {
	font-size: 3em;
}

.linkbar span {
/*	font-family: sans-serif;*/
/*	font-style: italic;*/
}

.content {
	padding: 1em;
	margin: 1em inherit;

	background: #f9f9f9;
}

#marklets a {
	padding: 0.5em;
	margin: 0.5em;

	background: teal;
	color: #f9f9f9;
}

#marklets p {
	padding: 0.25em inherit;
}

#marklets {
	/* center #marklets itself (it needs width that auto fits to content) */
	text-align: right;
}

.instructions {
	text-align: left;
}

.instructions li {
	font-weight: bold;
}
